---
import { Image } from "astro:assets";
import { markdownify } from "@/lib/utils/textConverter";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import fetchApi from "../../lib/strapi";
import type TeamMember from "../../interfaces/teamMember";

const lang = getLangFromUrl(Astro.url);
const data = await fetchApi<TeamMember[]>({
  endpoint: "team-members",
  wrappedByKey: "data",
  query: { locale: lang, populate: "*" },
});

let teamData = data;

if (teamData.length > 6) {
  teamData = teamData.slice(0, 6);
}

const t = useTranslations(lang);
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
        <h2 class="mb-6" set:html={markdownify(t("team.title"))} />
      </div>
      <div class="col-12 pt-20" data-aos="fade-up-sm" data-aos-delay="200">
        <div class="row g-4 justify-center">
          {
            teamData?.map((item) => (
              <div class="col-6 lg:col-3">
                {item.image && (
                  <div class="mb-6 overflow-hidden rounded-xl bg-light text-center md:rounded-3xl">
                    <Image
                      class="w-full"
                      src={import.meta.env.STRAPI_URL + item.image.url}
                      alt={`photo of ${item.name}`}
                      width={item.image.width}
                      height={item.image.height}
                    />
                  </div>
                )}
                {item.name && (
                  <h3 class="h6 mb-1" set:html={markdownify(item.name)} />
                )}
                {item.position && (
                  <h3 class="h6 mb-1" set:html={markdownify(item.position)} />
                )}
                {item.bio && <p set:html={markdownify(item.bio)} />}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
